* { margin:0; padding:0; }

body {
  margin: 0;
  padding: 0;
  font-family: archivo sans-serif;
  color: #252525;
  background-color: #2196F3;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  background-color: lightblue;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
  background-color: lightgreen;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.nav li:last-child {
  float:subheader;
}

.grid-padding {
  padding: 10px 50px 0px 50px;
}


.nameHeader { 
  grid-area: header; 
  font-weight: bold;
  text-decoration: underline;
  font-size: 35px;
  text-align: center;
  background-color:lightgoldenrodyellow;
}

.avatarImg { 
    grid-area: image; 
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    background-color:lightgoldenrodyellow;
}

.item3 { grid-area: main; }

.orBreak { 
    grid-area: orBreak;
    font-size: 20px;
    text-align: center;
    background-color:lightgoldenrodyellow;
    font-style: italic;
}

.buttonItem {
    grid-area: button;
}   

.submit { 
  grid-area: submit; 
  text-align: center;
  background-color:lightgreen;
}

.optionOne { 
  grid-area: optionOne; 
  text-align: center;
  background-color:lightgoldenrodyellow;

}

.optionOneChosen { 
  grid-area: optionOne; 
  text-align: center;
  font-weight: bold;
  background-color:lightgreen;

}

.optionTwo { 
  grid-area: optionTwo;
  text-align: center;
  background-color:lightgoldenrodyellow;
}

.optionTwoChosen { 
  grid-area: optionTwo;
  text-align: center;
  font-weight: bold;
  background-color:lightgreen;
}

.item8 { grid-area: Butt; }

.grid-container {
  display: grid;
  grid-template-columns: auto 50px 10% 2fr 1fr;
  grid-template-areas:
    'header header header header header header'
    'image image image optionOne optionOne optionOne'
    'image image image orBreak orBreak orBreak'
    'image image image optionTwo optionTwo optionTwo'
    'image image image submit submit submit';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 50px;
  font-size: 25px;
  text-align: center;
}

.optionOneSelect { 
  grid-area: optionOneSelect; 
  text-align: center;
  background-color:lightgoldenrodyellow;

}

.optionTwoSelect { 
  grid-area: optionTwoSelect;
  text-align: center;
  background-color:lightgoldenrodyellow;
}

.temp-padding {
  padding-left: 50px;
  background-color:lightgoldenrodyellow;  
}

.name-entry {
  grid-area: Name;
  font-size: 20px;
  font-weight: bold;
  background-color:lightgoldenrodyellow;
  line-height: 35px;
}

.submitButton { 
  grid-area: submit; 
  text-align: center;
  background-color:lightgreen;
  font-size: 25px;
  border: 0;
}

.grid-container-question {
  display: grid;
  grid-template-columns: auto 50px 10% 2fr 1fr;
  grid-template-areas:
    'Name Name Name header header header'
    'image image image optionOneSelect optionOneSelect optionOneSelect'
    'image image image orBreak orBreak orBreak'
    'image image image optionTwoSelect optionTwoSelect optionTwoSelect'
    'image image image submit submit submit';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 50px;
  font-size: 25px;
  text-align: center;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 50%;
  padding: 20px 0;
}

.answeredTab { 
  grid-area: Answered; 
  text-align: center;
  font-size: 25px;
  padding: 10px;
  color: lightgrey;
}

.unansweredTab { 
  grid-area: Unanswered; 
  text-align: center;
  font-size: 25px;
  padding: 10px;
  color: lightgrey;
}

.answeredTabActive { 
  grid-area: Answered; 
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  background-color: lightgreen;
  padding: 10px;
  color: blue;
}

.unansweredTabActive { 
  grid-area: Unanswered; 
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  background-color: lightgreen;
  padding: 10px;
  color: blue;
}

.top-grid-container {
  display: grid;
  grid-template-areas:
    'Unanswered Unanswered Answered Answered';
  grid-gap: 10px;
  background-color: #2196F3;
}

.top-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 25px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  background-color: #2196F3;
}

.navItem {
  padding-subheader: 20px;
  color: white;
}

.navItemActive {
  font-weight: bold;
  padding-subheader: 20px;
}

.navItemName {
  padding-left: 50px;
  color: black;
  font-weight: bold;  
}

.navItemLogout {
  padding-left: 50px;
  color:  white
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.pushRight {
  margin-left: auto;
  padding-subheader: 50px;
}

.pushLeftRight {
  margin-left: auto;
}

.question-form {
  resize: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 18px;
}

.composeHeader {
  font-size: 25px;
  padding: 20px;
  color:#2196F3;
} 

.questionsAnsweredGrid {
  grid-area: subheader; 
  background-color: lightgoldenrodyellow;
}

.questionsCreatedGrid {
  grid-area: created; 
  background-color: lightgoldenrodyellow;
}

.score {
  grid-area: score; 
  background-color: lightgoldenrodyellow;
}

.leaderboard-grid-container {
  display: grid;
  grid-template-columns: auto 50px 10% 2fr 1fr;
  grid-template-areas:
    'header header header header header header'
    'image image image subheader subheader subheader'  
    'image image image created created created'
    'image image image score score score';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 50px;
  font-size: 25px;
  text-align: center;
}

.leaderboard-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0px;
  font-size: 25px;
}

.login {
  text-align: center;
  font-size: 25px;
  margin: 30px;
  color: #2196F3
}

.login-header {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.login-dropdown {
  /* max-width: 750px;
  align-content: center; */
}

.asked-by {
  grid-area: header; 
  background-color: lightgoldenrodyellow;
  font-weight: bold;
  text-decoration: underline;
  font-size: 35px;
}

.results {
  grid-area: results; 
  background-color: lightgoldenrodyellow;
  font-weight: bold;
  color: red
}

.resultNumb1 {
  grid-area : resultNumb1;
  text-align: center;
  background-color:lightgoldenrodyellow;
}

.resultNumb1Chosen {
  grid-area : resultNumb1;
  text-align: center;
  font-weight: bold;
  background-color:lightgreen;
}

.resultNumb2 {
  grid-area : resultNumb2;
  text-align: center;
  background-color:lightgoldenrodyellow;
}

.resultNumb2Chosen {
  grid-area : resultNumb2;
  text-align: center;
  font-weight: bold;
  background-color:lightgreen;

}

.results-grid-container {
  display: grid;
  grid-template-columns: auto 50px 10% 2fr 1fr;
  grid-template-areas:
    'header header header header header header'
    'results results results results results results'
    'image image image optionOne optionOne optionOne'
    'image image image resultNumb1 resultNumb1 resultNumb1'
    'image image image optionTwo optionTwo optionTwo'
    'image image image resultNumb2 resultNumb2 resultNumb2';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 50px;
  font-size: 25px;
  text-align: center;
}

.results-grid-container > div {
  background-color:lightgoldenrodyellow;
  text-align: center;
  padding: 20px 0px;
  font-size: 25px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
